@import url("./default.css");
@import url("./default_mine.css");

/* 8_ready */
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  padding-top: 310px;
}

.nextButton {
  position: absolute;
  width: 381px;
  height: 64px;
  border-radius: 14px;
  background-color: #c66efe;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 831px;
}

/* 
.question.final {
  margin-top: 310px;
  margin-bottom: 310px;
}

.borderColor_click {
  border-color: #c66efe;
  color: #c66efe;
  font-weight: 500;
} */
