/* 모바일버전 미디어쿼리*/

@media (max-width: 600px) {
    /* <main> */
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        width: 100%;
        background-color: aquamarine;
        /* padding: 0px 24px; */
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        /* max-width: 720px; 캘린더의 최대 너비
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 16px;

        position: relative; */
        background-color: pink;
    }

    .calendarContent {
        background-color: blue;
        /* gap: 8px; */
        width: 342px;

        /* position: absolute; */
        top: 48px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
    }

    .title {
        padding: 0 0 0 16px;
    }

    .titleIconText {
        font-size: 20px;
    }

    .titleIconText span {
        font-size: 16px;
    }

    .ptMode {
        display: flex;
        justify-content: center;
    }

    .ptMode span {
        font-size: 12px;
    }

    .ptMode i {
        font-size: 24px;
    }

    .monthYear {
        height: 60px;
        padding: 0 16px;
        align-items: center;
    }

    .monthYear i {
        font-size: 16px;
    }

    .monthYear p {
        font-size: 16px;
    }

    .day {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 53px;
    }

    .day p {
        width: 45px;
        font-size: 14px;
        font-weight: medium;
        text-align: center;
    }

    /* 테이블 설정 */
    .cell {
        width: 45px;
        height: 100px;
    }

    .cell p {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    /* 캘린더에 일정 넣기 */
    table .cell .regularSchedule,
    table .cell .PTmodeSchedule {
        height: 16px;
    }

    /* <aside> 오늘의 컨텐츠 */
    .todaysContent,
    .todaysContent_PTmode,
    .makingReservation,
    .addLog {
        height: auto;
        z-index: 5;
    }

    .todaysContentComponent {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 24px;
        border-bottom: 2px solid #f5f5f5;
    }

    .scheduleTimeTextBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .schduleTimeText {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .scheduleLine {
        width: 3px;
        height: 36px;
        border-radius: 2px;
        background-color: #f0dafe;
    }

    .scheduleNameTime {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .todaysContentComponent button.btnPurpleMedium {
        align-self: flex-end;
    }
}
