@import url('./navigation.css');

/* navigation 메뉴 색 변경 */
.topList li:nth-child(2) a i,
.topList li:nth-child(2) a p {
    color: #001652;
}

/* <main> */
.calendarContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 724px;

    position: absolute;
    top: 88px;
    left: 598px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleIconText {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bi-calendar-plus {
    cursor: pointer;
}

.ptMode {
    gap: 8px;
    display: flex;
    align-items: center;
}

.ptMode i {
    font-size: 40px;
    color: #c66efe;
}

.monthYear {
    display: flex;
    justify-content: space-between;
}

.monthYear i {
    font-size: 20px;
}

.day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
}

.day p {
    width: 100px;
    font-size: 20px;
    font-weight: medium;
    text-align: center;
}

/* 테이블 설정 */
table {
    display: flex;
    flex-direction: column;
}
.oneWeek {
    display: flex;
    justify-content: space-between;
}
.cell {
    width: 100px;
    height: 120px;
    display: flex;
    justify-content: center;
    cursor: pointer; /* 커서 바꾸기 */
}

.cell p {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #f5f5f5;
}

.cell.textColorRed p {
    color: #d80b0b !important; /* !important를 사용하여 우선순위 강제 적용 */
}

.cell.textColorBlue p {
    color: #1415eb !important;
}

/* 오늘인 날짜 스타일 바꾸기 */
.today p {
    border-radius: 50%;
    border: 4px solid #828eec;
}

.selected P {
    border-radius: 50%;
    background-color: #828eec;
}

/* 캘린더에 일정 넣기 */
table .cell {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
}

table .cell .regularSchedule {
    width: 100%;
    height: 20px;
    border-radius: 2px;
    font-size: 12px;
    background-color: #d1dcfe;
    text-align: center;
}

table .cell .PTmodeSchedule {
    width: 100%;
    height: 20px;
    border-radius: 2px;
    font-size: 12px;
    background-color: #f0d9fd;
    text-align: center;
}

/* <aside> 오늘의 컨텐츠 */
.todaysContent,
.todaysContent_PTmode,
.makingReservation,
.addLog {
    position: absolute;
    top: 88px;
    left: 1346px;
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100vh;
    /* background-color: white; */
    border-top: 2px solid #f5f5f5;
    gap: 16px;
    display: none;
}

.todaysContentComponent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    border-bottom: 2px solid #f5f5f5;
}

.scheduleTimeTextBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schduleTimeText {
    display: flex;
    align-items: center;
    gap: 8px;
}

.scheduleLine {
    width: 3px;
    height: 36px;
    border-radius: 2px;
    background-color: #f0dafe;
}

.scheduleNameTime {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.todaysContentComponent button.btnPurpleMedium {
    align-self: flex-end;
}

/* 수업 예약하기 makingReservation */
.btnSelectTimeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.confrimReservation {
    display: none;
}

/* 기록하기 */
.addLogContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0px;
    border-bottom: 2px solid #f5f5f5;
}

.addLog .addImage {
    width: 130px;
    height: 130px;
    margin-left: 24px;
    background-color: #f5f5f5;
    position: relative;
}

.addLog .addImage i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addLog .addImage p {
    position: absolute;
    bottom: 8px;
    left: 50%;

    transform: translateX(-50%);
}

.addLogTab {
    display: flex;
}

.addLogTab p.addLogTabText_selected {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 2px solid #292929;
    flex-grow: 1;
}

.addLogTab p.addLogTabText {
    color: #909090;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 16px;
    /* border-bottom: 2px solid #292929; */
    flex-grow: 1;
}

.addLogComponentContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 24px;
}

.addLogComponent button {
    cursor: pointer;
}

.addLogComponentContainer input.workoutTime {
    width: 60px;
    padding: 4px 0px;
    color: white;
    background-color: #b1b1b1;
    text-align: center;
    border: none;
    border-radius: 9px;
}

.addLogComponentContainer input.workoutTime::placeholder {
    color: white;
}

.addLogComponent .textBox {
    margin-top: 8px;
    width: 100%;
    padding: 16px;
    border-radius: 9px;
    border: 1px solid #f5f5f5;
    font-size: 14px;
}

.addLogComponent .conditionRange {
    display: flex;
    gap: 24px;
    align-items: center;
}

.addLogComponent .conditionRange input {
    width: 240px;
}

.uploadSetting div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uploadSetting i.uploadSettingIcon {
    color: #c66efe;
    cursor: pointer;
}

/* 모달창 */
.modal {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modalBody {
    position: relative;
    width: 294px;
    height: 422px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalTitle {
    padding: 16px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}

.modalTitleDateDay {
    display: flex;
    gap: 8px;
    align-items: center;
}
.modalContent {
    padding: 16px;
}

.inputSchedule {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.setTime {
    display: flex;
    gap: 8px;
    align-items: center;
}

.inputScheduleStyle {
    background-color: #f5f5f5;
    border-style: none;
    border-radius: 9px;
    height: 28px;
}

.btnInputSchedule {
    width: 48px;
    padding: 4px 8px;
    box-shadow: 0 0 5px rgba(53, 54, 53, 0.25);
}

#timeInput,
#minuteInput {
    width: 48px;

    padding: 4px 10px;
}

#timeInput::-webkit-inner-spin-button,
#timeInput::-webkit-outer-spin-button,
#minuteInput::-webkit-inner-spin-button,
#minuteInput::-webkit-outer-spin-button {
    -webkit-appearance: none; /* 화살표 제거 */
    margin: 0;
}

.inputText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputText input {
    width: 216px;
    padding: 10px 8px;
}

/* 모바일버전 */
@media (max-width: 600px) {
    /* <main> */
    /* .calendarContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 724px;

        position: absolute;
        top: 88px;
        left: 598px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .titleIconText {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .bi-calendar-plus {
        cursor: pointer;
    }

    .ptMode {
        gap: 8px;
        display: flex;
        align-items: center;
    }

    .ptMode i {
        font-size: 40px;
        color: #c66efe;
    }

    .monthYear {
        display: flex;
        justify-content: space-between;
    }

    .monthYear i {
        font-size: 20px;
    }

    .day {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 104px;
    }

    .day p {
        width: 100px;
        font-size: 20px;
        font-weight: medium;
        text-align: center;
    } */
}
