/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Shizuru&display=swap');

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #292929;
    font-family: 'Noto Sans KR', serif;
    font-style: normal;
    font-weight: 400;
}

/* 네비게이션 */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 64px;
    height: 100vh;
    background-color: white;
}

/* 네비게이션_로고 */
.navbar .logo {
    font-family: 'CWDangamAsac-Bold';
    font-size: 48px;
    margin-bottom: 48px;
}

.navbar .logo span {
    width: 153px;
    height: 88px;
    color: #b33ffc;
    font-size: 48px;
    font-weight: 700;
}

/* 네비게이션_메뉴 */
.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}

.bottomList {
    margin-top: 24px;
}

.navbar a {
    color: #909090;
    font-size: 14px;
    font-weight: medium;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar a i {
    font-size: 32px;
}

.navbar a p {
    display: inline-block;
    margin: 6px 16px;
}

/* 기본 css */
.textColor {
    color: #292929;
}
.textColorRed {
    color: #d80b0b;
}

.textColorBlue {
    color: #1415eb;
}
.textColorSecondaryDark {
    color: #001652;
}

.textColorDisable {
    color: #909090;
}
.textColorDisableMedium {
    color: #b1b1b1;
}

/* 폰트크기 굵기 */
.font10 {
    font-size: 10px;
}
.font12 {
    font-size: 12px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}

.font24 {
    font-size: 24px;
}

.font32 {
    font-size: 32px;
}

.fontBold {
    font-weight: 800;
}

.fontMedium {
    font-weight: 500;
}

.fontRegular {
    font-weight: 400;
}

/* 버튼 */
.btnPurpleMedium {
    padding: 4px 8px;
    background-color: #f1dbff;
    border: none;
    border-radius: 9px;
    color: #c66efe;
    font-size: 12px;
    font-weight: 400;
}
