/* navigation css */
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Shizuru&display=swap');

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #292929;
    font-family: 'Noto Sans KR', serif;
    font-style: normal;
    font-weight: 400;
}

/* 플로팅버튼 모달 css */
.floatingBtnModal {
    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.floatingBtnModalandBtn {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    right: 5vw;
    bottom: 8vh;
}

.floatingBtnModalBody {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.floatingBtnModalTitle i {
    cursor: pointer;
}

.floatingBtnModalTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #f1dbff;
    border-radius: 20px 20px 0 0;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.floatingBtnModalContent a {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.floatingBtnModalContent a:hover {
    background-color: #f5f5f5;
}

.floatingBtnModalContent i {
    color: #b33ffc;
}

.floatingBtn i {
    font-size: 48px;
    color: #b33ffc;
    cursor: pointer;
}

#floatingBtn {
    position: fixed;
    right: 5vw;
    bottom: 8vh;
    z-index: 50;
}

/* 네비게이션 */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 64px;
    height: 100vh;
    background-color: white;
    z-index: 10;
}

/* 네비게이션_로고 */
.navbar .logo {
    padding: 24px 16px;
    margin-bottom: 48px;
}

.navbar .logo span {
    font-family: 'CWDangamAsac-Bold' !important;
    font-size: 48px;
    font-weight: 800;
    color: #b33ffc;
}

/* 네비게이션_메뉴 */
.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}

.bottomList {
    margin-top: 24px;
}

.navbar a {
    font-size: 14px;
    font-weight: medium;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar a i {
    font-size: 32px;
    color: #909090;
}

.navbar a p {
    margin: 6px 16px;
    color: #909090;
}

/* 모바일에서 */
@media (max-width: 600px) {
    /* 사라질 것들 */
    .logo,
    .bottomList li {
        display: none;
    }

    /* 네비게이션 */
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        padding: 0px;
        height: auto;
        background-color: white;
        z-index: 10;
    }

    .navbar .topList ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 88px;
        padding: 0px 33px;
        background-color: white;
        list-style: none;
    }

    /* 네비게이션_메뉴 */
    .navbar .topList a {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        text-decoration: none;
    }

    .navbar a i {
        font-size: 32px;
        color: #909090;
    }

    .navbar a p {
        font-size: 10px;
        font-weight: 500;
        color: #909090;
    }

    /* 플로팅버튼의 모달 */
    .floatingBtnModalandBtn {
        right: 6vw;
        bottom: 100px;
    }
    /* 플로팅버튼 */
    #floatingBtn {
        position: fixed;
        right: 6vw;
        bottom: 100px;
        z-index: 20;
    }
}

/* 기본 css */
.textColor {
    color: #292929;
}
.textColorRed {
    color: #d80b0b;
}

.textColorBlue {
    color: #1415eb;
}
.textColorSecondaryDark {
    color: #001652;
}

.textColorDisable {
    color: #909090;
}

.textColorDisableMedium {
    color: #b1b1b1;
}

/* 폰트크기 굵기 */
.font8 {
    font-size: 8px;
}

.font10 {
    font-size: 10px;
}
.font12 {
    font-size: 12px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}

.font24 {
    font-size: 24px;
}

.font32 {
    font-size: 32px;
}

.font40 {
    font-size: 40px;
}

.fontBold {
    font-weight: 800;
}

.fontMedium {
    font-weight: 500;
}

.fontRegular {
    font-weight: 400;
}

.fontDemiLight {
    font-weight: 350;
}

/* 버튼 */
.btnMainMedium {
    padding: 4px 8px;
    background-color: #b33ffc;
    border: none;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.btnPurpleMedium {
    padding: 4px 8px;
    background-color: #f1dbff;
    border: none;
    border-radius: 9px;
    color: #c66efe;
    font-size: 12px;
    font-weight: 400;
}

.btnDisableMedium {
    padding: 4px 8px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 9px;
    color: #909090;
    font-size: 12px;
    font-weight: 400;
}

.btnSelectedMedium {
    padding: 4px 8px;
    background-color: #001652;
    border: none;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.btnSelectTime {
    width: 72px;
    padding: 4px 8px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 9px;
    text-align: center;
    color: #909090;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.btnSelectTime_selceted {
    width: 72px;
    padding: 4px 8px;
    background-color: #b33ffc;
    border: none;
    border-radius: 9px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
