@import url(./navigation.css);

main {
    position: absolute;
    top: 88px;
    left: 598px;

    width: 702px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

main nav {
    display: none;
}

/* 프로필 */
.profile-section {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(./image/프로필.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-name {
    color: white;
    background-color: #c084fc;
    border-radius: 99px;
    padding: 4px 8px;
    width: 88px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.profile-program {
    color: #b9aff5;
    padding: 0 3px;
}

/* 메뉴들  */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card {
    border-radius: 16px;
    padding: 18px 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-title {
    color: #c084fc;
    font-weight: 600;
}

.menu-items-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item {
    color: #c084fc;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    justify-content: space-between;
}

.menu-item:hover {
    color: #8b5cf6;
    transform: translateX(5px);
}

.menu-item .iconText {
    display: flex;
    gap: 12px;
    align-items: center;
}

.menu-item i {
    font-size: 16px;
    color: #c084fc;
}

.menu-item p {
    font-size: 14px;
    color: #c084fc;
}